.aws-btn {
  --slider-height-percentage: 50%;
  --slider-transition-duration: 360ms;
  --organic-arrow-thickness: 3px;
  --organic-arrow-border-radius: 6px;
  --organic-arrow-height: 44px;
  --organic-arrow-color: #d5d5d5;
  --control-button-width: 10%;
  --control-button-height: 25%;
  --control-button-background: transparent;
  --control-bullet-color: #fafafa;
  --control-bullet-active-color: #d5d5d5;
  --loader-bar-color: #851515;
  --loader-bar-height: 6px;
  }